*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.spinner{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(164, 150, 236, 0.573);
}

.form-btn{
    width: 250px !important;
    margin-top: 30px !important;
}